# Core functionality - changes here should be rare!
/src/app.py                   @rintuduttacodedev
/src/backend/database.py      @rintuduttacodedev
/src/backend/routers/auth.py  @rintuduttacodedev

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rintuduttacodedev
